/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

.toolbox-btn {
  @apply p-2 text-gray-200 inline-flex items-center space-x-2 rounded;
}

.toolbox-btn.disabled {
  @apply text-gray-400;
  cursor: default;
}

.toolbox-btn.active {
  @apply bg-indigo-600 text-white
}

.toolbox-text {
  @apply text-xl text-white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.toolbar {
  @apply bg-indigo-500;
  padding: 6px 16px 6px 66px;
}

.sidebar {
  @apply bg-gray-200;
  height: 100%;
  z-index: 1;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  padding: 11px;
  top: 0;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  padding-left: 47px;
  height: calc(100vh - 54px);
  overflow: auto;
  transition: .3s;
}

.swatch {
  @apply cursor-pointer rounded-full shadow-md;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.swatch.is-active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23fff' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
  background-size: 10px;
  content: "";
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 50%;
}

.swatch.is-active.reverse {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23000' stroke-width='3' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
}

#canva, #grid{
  position:absolute;
  top: 0px;
  left: 47px;
}

#canva {
  z-index: 1;
}

#grid {
  z-index: 0;
}